# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# IDE or editor specific files
.vscode/
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
/.streamlit/

# Other unnecessary files
*.log
